.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(32 34 49 / var(--tw-border-opacity));

  h3 {
    margin: 0;
    color: #ffffff;
  }

  div {
    display: flex;
    align-items: center;

    div {
      display: flex;
      font-size: 0.9em;
      text-align: center;
      border-radius: 7px;
      height: 35px;
      padding: 0 1em;
      color: #8247e5;
      background-color: #ffffff;
      cursor: pointer;

      &:hover {
        background-color: darken($color: #ffffff, $amount: 3);
      }
    }

    button {
      display: flex;
      font-size: 0.9em;
      align-items: center;
      color: #ffffff;
      text-align: center;
      outline: none;
      border: none;
      border-radius: 7px;
      height: 35px;
      padding: 0 1em;
      margin-right: 1em;
      background: linear-gradient(73.28deg, #8247e5 6.51%, #6027c0 88.45%);
    }
  }
}

.transparent {
  border-bottom: 1px solid #dedede;

  h3 {
    a {
      color: #000000;
    }
  }

  button {
    background-color: #dedede;
  }
}
