@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06070A;
}

img{
  max-width: 100%;
}